.hdr-info-wrap {
  display: none;
}
#back-to-top {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
}
.lazyload-wrap {
  display: none;
}
.post-cover-img-wrap .cover-img {
  opacity: 1 !important;
}
#gitalk-container {
  display: none;
}
.hdr-switch {
  display: none;
}
#toc-toggle {
  display: none;
}
.button.rss {
  margin-right: 0 !important;
}
.copy-btn {
  display: none;
}
#page-donates {
  display: none;
}
#post-age-warning {
  display: none;
}
#toc .toc-item-wrap:not(.active) {
  opacity: unset;
  transition: unset;
}
#toc:hover .toc-item-wrap:not(.active) {
  opacity: unset;
}
#toc .toc-item-wrap.active .toc-item-link {
  font-weight: normal;
  color: #333;
}
#toc .toc-item-wrap.active .toc-item-link::before {
  display: none;
}
#toc .toc-item-wrap.active .toc-item-link:not(.active) {
  opacity: unset;
}
#toc .toc-item-wrap.active .toc-sub-item-link:not(.active) {
  opacity: unset;
}
#post .post-meta #content-switch {
  display: none;
}
#post figure.highlight.folded,
#raw-markdown-block figure.highlight.folded {
  max-height: unset;
  overflow-y: auto;
}
#post figure.highlight.folded .fold-toggle,
#raw-markdown-block figure.highlight.folded .fold-toggle {
  display: none;
}
